streamlit==1.35.0
streamlit_navigation_bar==3.3.0

ee~=0.2
earthengine-api~=0.1.409
geopandas~=0.14.4
matplotlib~=3.9.1
Cartopy~=0.23.0
geemap~=0.32.1
plotly~=5.22.0
pandas~=2.2.2
numpy~=1.26.4
scikit-learn~=1.5.1
shap~=0.46.0
shapely~=2.0.4